.date-range-input {
    .helperText {
      color: $color-grey;
      margin-bottom: 20px;
    }

    .to-label {
      display: inline-block;
      text-align: center;
      width: 100px;
      height: 100%;
      -ms-transform: translateY(100%);
      transform: translateY(100%);
    }
  }