@import "./../../../../assets/scss/variables";

.order-record-table {
  &__head {
    background-color: $color-main;
    top: 0;
    position: sticky;

    .MuiTableCell-head {
      color: $color-white;
    }
  }

  &__body {
    .order-status {
      &__new {
        color: $color-main;
      }
      &__processing {
        color: $color-processing;
      }

      &__finished {
        color: $color-active;
      }
      &__refund {
        color: $color-warning;
      }
      &__cancel {
        color: $color-grey;
      }
    }

    .link-update {
      color: $color-main;
    }
  }
}
