@import "./../../../assets/scss/variables";

.order-record-detail {
  min-height: 100vh;

  .page-title {
    margin: 15px 0;
    font-size: $font-xl;
    font-weight: 600;
  }

  .order-info {
    background-color: #fff;
    border: 1px solid black;
    padding: 30px;

    .user,
    .phone,
    .created-at,
    .status,
    .total-price {
      font-size: 1.2rem;
    }

    .user,
    .phone,
    .created-at,
    .status {
      margin-bottom: 15px;
    }
  }

  @import "./components/order-detail-table";
}
