.view-refund-detail {
  h2 {
    padding: 16px 0;
  }
  .wrap {
    display: flex;
    background-color: #fff;
    box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 2rem;
    .container {
      margin: auto;
      padding: 2rem 0.75rem;

      .content {
        margin: auto;
        margin-left: 3rem;
        .div-left-right {
          display: flex;
          .div-left {
            float: left;
          }
          .div-right {
            float: right;
          }
        }
        .label-textfield {
          display: flex;
          padding-right: 3em;
          margin-bottom: 2rem;
          .label {
            width: 10em;
            font-weight: 700;
          }
          .textfield {
            width: 21em;
            input {
              height: 0.5rem;
            }
          }
          .textarea {
            width: 55rem;
          }
        }
        .btn-accept {
          margin-right: 2rem;
        }
        .btn-right {
          float: right;
          margin-right: 3rem;
        }
      }
    }
  }
}
