@import "./../../assets/scss/variables";

.my-order {
	.wrapper {
		margin: auto;
		margin: 0 0 2% 0;
		padding: 1%;
		width: 70%;
	}

	.header-table {
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
		display: flex;
		height: 40px;
		margin-bottom: 1%;
		margin-top: 1%;
		border-radius: 3px;
		p {
			display: block;
			margin: auto;
			width: 20%;
			text-align: center;
			font-size: large;
		}
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.service-box {
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
		padding: 1% 1% 1% 1%;
		margin-bottom: 1%;
		border-radius: 3px;
	}

	.service-component {
		margin: 0 0.5% 1% 0.5%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		display: flex;
	}

	hr.solid {
		border-top: 1px solid rgb(128, 127, 127);
		width: 95%;
	}

	#p-shop-name {
		margin-right: 1%;
		font-weight: bold;
		margin-top: 0.5%;
		font-size: large;
	}

	#p-service-status {
		margin-left: 5%;
		color: darkgrey;
		min-width: 60px;
	}

	#service-title {
		font-size: large;
	}

	#service-type {
		color: darkgrey;
		font-size: medium;
		margin-top: 1%;
	}

	#service-amount {
		margin-top: 1%;
	}

	#btn-view-shop {
		margin-left: 1.5%;
	}

	.btn-left {
		color: $color-main;
		border-color: $color-main;
		margin-right: 1%;
	}

	.service-status {
		margin-left: auto;
		order: 2;
	}

	.item {
		display: flex;
	}

	.item-image {
		width: 120px;
		height: 120px;
	}

	.item-detail {
		width: 80%;
		margin-left: 2%;
	}

	.footer-btn {
		margin-left: 5%;
		min-width: 130px;
		color: $color-main;
		border-color: $color-main;
	}

	.service-footer {
		margin-right: 0.5%;
	}

	.price {
		font-size: larger;
	}

	.price-amount {
		color: red;
		text-decoration: underline;
	}
}
