@import "./../../assets/scss/variables";

.order-item {
  display: flex;
  width: 100%;
  padding: 2% 0;
  border-bottom: 1px solid #d6d6d6;
  .img-title {
    display: flex;
    margin: auto;
  }
  .img {
    display: block;
    margin: auto;
    width: 7rem;
    height: 7rem;
    justify-content: center;
  }
  .title {
    display: block;
    margin: auto;
    margin-left: 0.5rem;
    line-height: 1.5;
    width: 15rem;
  }
  .start-date {
    display: block;
    margin: auto;
    width: 8rem;
    .MuiOutlinedInput-root {
      max-width: 11rem;
    }
  }
  .price,
  .total-price {
    display: block;
    margin: auto;
    width: 8.5rem;
    text-align: center;
  }
  .amount {
    display: flex;
    margin: auto;
    width: 5.25rem;
    text-align: center;

    p {
      text-align: center;
      display: flex;
    }
  }

  .center {
    text-align: center;
  }

  .act {
    display: block;
    margin: auto;
    width: 8.5rem;
    text-align: center;
    color: $color-main;
    border-color: $color-main;
  }
  .act {
    width: 6.75rem;
  }
}
