@import './../../assets/scss/variables';

.order-detail {
	.wrapper {
		margin: auto;
		margin: 0 0 2% 0;
		padding: 1%;
		width: 70%;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.screen-title {
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.service-box {
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
		padding: 1% 1% 1% 1%;
		margin-bottom: 1%;
		border-radius: 3px;
	}

	.col {
		float: left;
		margin-bottom: 1%;
		display: flex;
	}

	.col-input-left {
		margin-left: 2%;
		margin-bottom: 1%;
		width: 48%;
	}

	.col-input-right {
		margin-bottom: 1%;
		width: 50%;
	}

	.row:after {
		content: '';
		display: table;
		clear: both;
	}

	.input-left {
		width: 80%;
	}

	.col-checkbox {
		margin-left: 2%;
		width: 5%;
	}

	.table-header {
		text-align: center;
		font-weight: bold;
		margin: auto;
	}

	.table-content {
		text-align: center;
		margin-top: 30%;
	}

	.order-box {
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
		padding: 1% 1% 0 1%;
		border-radius: 3px;
		margin-bottom: 1%;
	}

	.service-component {
		margin: 0 0 1% 0.5%;
		margin-left: 2.5%;
		display: flex;
	}

	#p-shop-name {
		margin-right: 1%;
		font-weight: bold;
		margin-top: 0.5%;
		font-size: large;
	}

	#btn-view-shop {
		margin-top: 1.5%;
	}

	.btn-left {
		color: darkgrey;
		border-color: darkgrey;
		margin-right: 1%;
	}

	.item {
		display: flex;
	}

	.item-image {
		width: 120px;
		height: 120px;
	}

	.item-detail {
		width: 80%;
		margin-left: 2%;
	}

	#service-title {
		font-size: medium;
	}

	#service-type {
		color: darkgrey;
		font-size: medium;
		margin-top: 1%;
	}

	#service-amount {
		margin-top: 1%;
	}

	hr.solid {
		border-top: 1px solid rgb(128, 127, 127);
		width: 95%;
	}

	.service-footer {
		margin: 1% 6% 2% auto;
	}

	.footer-btn {
		margin-left: 5%;
		min-width: 150px;
		color: $color-main;
		border-color: $color-main;
	}

	.header-table {
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
		margin-bottom: 1%;
		display: flex;
		p {
			display: block;
			margin: auto;
			width: 9.5rem;
			text-align: center;
			font-weight: bold;
		}
		#p-product {
			width: 23.5rem;
			margin-left: 0;
		}
		#p-start-date {
			width: 9rem;
		}

		#p-amount {
			width: 6rem;
		}
	}

	.items {
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
		h3 {
			text-align: center;
			padding: 1em 0;
			font-weight: 400;
		}
	}

	.total-price {
		font-size: x-large;
	}
}
