@import './../../assets/scss/variables';

.profile {
	* {
		box-sizing: border-box;
	}

	.column {
		float: left;
		box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.4);
		margin: 2% 1% 1% 1%;
		border-radius: 2%;
	}

	.column-left {
		width: 20%;
		background-color: $color-white;
	}

	.column-right {
		width: 76%;
		background-color: $color-white;
	}

	.row:after {
		content: '';
		display: table;
		clear: both;
	}

	.row-content:after {
		content: '';
		display: table;
		clear: both;
	}

	.profile-wrapper {
		margin: auto;
		width: 70%;
	}

	.avatar {
		margin: 5% 0% 5% 0%;
	}

	hr.solid {
		border-top: 1px solid rgb(128, 127, 127);
		width: 96%;
		margin-bottom: 2%;
	}

	.col-content {
		float: left;
	}

	.col-content-left {
		margin-left: 8%;
		width: 15%;
		text-shadow: 1px 1px rgba(82, 82, 82, 0.4);
		cursor: pointer;
	}

	.col-content-right {
		width: 65%;
		margin: 3% 0% 0% 0px;
		padding-left: 15px;
		text-shadow: 1px 1px rgba(114, 114, 114, 0.4);
		cursor: pointer;
	}

	.row-content:hover {
		background-color: rgb(243, 243, 243);
	}

	.color-grey {
		color: rgb(104, 103, 103);
	}

	.screen-title {
		margin: 2% 0% 1% 2%;
	}

	.screen-sub-title {
		margin-left: 2%;
		margin-bottom: 1%;
	}

	.col-input-left {
		margin-left: 2%;
		margin-bottom: 2%;
		width: 48%;
	}

	.col-input {
		margin-left: 2%;
		margin-bottom: 2%;
		width: 88%;
	}

	.col-input-right {
		margin-bottom: 2%;
		width: 50%;
	}

	.input-left {
		width: 80%;
	}

	.btn-save {
		background-color: $color-main;
		float: right;
		margin-right: 20%;
	}

	.margin-bottom {
		margin-bottom: 5%;
	}

	.col-left-shop-register {
		width: 20%;
	}

	.col-right-shop-register {
		width: 20%;
	}

	.a {
		margin-bottom: 10px;
	}

	.avatar-btn {
		left: 50%;
		top: 50%;
		transform: translate(-50%, 0%);
	}
}
