@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  font-size: 100%;
  font-family: $font-family;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background-theme;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }
}

.isLoading {
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

.hide-for-mobile {
  // hide 4 tablet and mobile
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  // hide 4 desktop viewport widths
  @include breakpoint-up(large) {
    display: none;
  }
}
