// Breakpoints
@media (min-width: 64em) {
}

// Screensize maps 640px, 1024px, 1400px;
$breakpoints-up: (
  "medium": "640px",
  "large": "1024px",
  "xlarge": "1400px",
);
$breakpoints-down: (
  "small": "639px",
  "medium": "1023px",
  "large": "1399px",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
