$font-family: "Roboto", sans-serif;

$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xl: 1.675rem; // 26.8px

$color-white: #fff;
$color-main: #1976d2;
$color-background-theme: #f5f5fa;
$color-active: #4a934a;
$color-error: #ed4337;
$color-warning: #f0541e;
$color-grey: #808080;
$color-processing: #000;


$color-row-odd: #ecf2f7;

:export {
  colorMain: $color-main;
  colorRowOdd: $color-row-odd;
}
