.alert-dialog {
  &__title {
    align-items: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__content {
    text-align: center;
  }

  &__actions {
    justify-content: center;
  }
}
