.service-card-skeleton {
  width: 250px;
  height: 330px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 16px;

  .card-image {
    height: 150px;
    width: 100%;
  }

  .card-content {
    padding: 0.8em;
    margin-top: 10px;
  }
}
