@import "./../../assets/scss/variables";

.homepage {
  min-width: 100vh;

  h2 {
    margin: 1em 0;
  }

  .hero {
    $hero-height: 530px;
    $search-bar-height: 56px;

    &-background {
      width: 100%;
      background-image: url("./../../assets/images/homepage-background-panel.jpg");
      height: $hero-height;
      background-size: cover;
      background-position: center;
    }

    .hero-title {
      display: inline-block;
      padding-top: calc((($hero-height - $search-bar-height) / 2) - 60px);
      margin: 0 auto 30px;
      color: $color-white;
      font-size: 2.5rem;
    }

    .hero-search {
      width: 750px;
      height: 100%;
      margin: 0 auto;
      position: relative;

      .search-bar {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        height: $search-bar-height;

        input[type="text"] {
          width: 80%;
          font-size: $font-lg;
          padding-left: 0.625em;
          background-color: transparent;
          border: 0;
        }

        input[type="text"]:focus {
          outline: none;
        }
      }

      .search-bar__button {
        display: inherit;
        width: 50px;
        height: 40px;
        margin: auto 1em;
        background-color: #479fe7;
        border-radius: 5px;
        cursor: pointer;
      }

      .search-results {
        $search-item-height: calc($search-bar-height * 1.3);

        margin-top: 5px;
        border-radius: 5px;
        position: absolute;
        right: 0;
        left: 0;
        overflow: hidden;

        /* "overflow: auto" for a inner class "search-results__list" 
         to set border-radius rounded for the scrollbar */
        &__list {
          max-height: calc($search-item-height * 5);
          overflow: auto;

          // // hide scrollbar for Chrome, Safari and Opera
          // &::-webkit-scrollbar {
          //   display: none;
          // }
          // // hide scrollbar for IE and Edge
          // -ms-overflow-style: none;
          // // hide scrollbar for Firefox
          // scrollbar-width: none;
        }

        &__item {
          height: $search-item-height;
          padding: 2px 5px;
          z-index: 1;
          background-color: #fff;
          transition: background-color 0.07s;
          img {
            height: 100%;
            max-width: calc($search-item-height + 10px);
            min-width: calc($search-item-height + 10px);
            margin-right: 10px;
          }

          &:hover {
            background-color: rgb(241, 241, 241);
          }
        }
      }
    }
  }

  .service-categories {
    margin-bottom: 2rem;

    .category-card {
      height: 131px;
      position: relative;

      .card-image {
        min-width: 110px;
        max-width: 110px;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all ease-in 0.5s;
        }
      }

      .card-content {
        &__title {
          margin-bottom: 5px;
        }

        &__description {
          line-height: 2;
        }
      }
    }

    .category-card:hover {
      img {
        transform: scale(1.2) rotate(2.5deg);
      }

      transition: all 0.6s ease-in-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.4);
      top: -2px;
      border: 1px solid rgb(38, 38, 38, 0.4);
    }
  }

  .popular-services,
  .newest-services {
    &__list {
      flex-flow: row wrap;
      margin-right: -1em;
    }
  }

  .slide {
    .service-card {
      margin: 4px auto 16px;
    }

    .arrow-button {
      border: 1px solid black;
    }

    .slick-prev::before,
    .slick-next::before {
      color: black !important;
    }
  }
}
