@import "./../../../../assets/scss/variables";

.order-detail-table {
  margin-top: 30px;

  &__head {
    background-color: $color-main;
    top: 0;
    position: sticky;

    .MuiTableCell-head {
      color: $color-white;
    }
  }

  &__body {

  }
}
