@import "./../../../../assets/scss/variables";

.shop-service-table {
  &__head {
    background-color: $color-main;
    top: 0;
    position: sticky;

    .MuiTableCell-head {
      color: $color-white;
    }
  }

  &__body {
    .service-image {
      width: 50px;
      height: 50px;
    }
    .service-status {
      &__active {
        color: $color-active;
      }

      &__waiting {
        color: $color-main;
      }

      &__unavailable {
        color: $color-grey;
      }

      &__blocked {
        color: $color-error;
      }

      &__reject {
        color: $color-error;
      }
    }

    .link-update {
      color: $color-main;
    }

    .service-action {
      margin-top: 10px;
      color: $color-error;
      cursor: pointer;
    }

    .service-action:hover {
      opacity: 0.75;
    }
  }
}
