@import "./../../../assets/scss/variables";

.order-record-list {
  min-height: 100vh;

  .title {
    margin: 15px 0;
    font-size: $font-xl;
    font-weight: 600;
  }

  .date-range-filter {
    .date-picker {
      background-color: #fff;
    }
  }

  @import "./components/date-range-picker";
  
  .search-btn {
    flex-shrink: 0;
    height: 40px;
    margin-top: auto;
  }

  .table {
    margin-top: 30px;
  }

  @import "./components/order-record-table";
}
