@import "./../../assets/scss/variables";

// .refund-request-list {
//   //   background-color: #f5f5f5;
//   display: flex;
.refund-container {
  padding-top: 35px;
  .search-filter {
    display: flex;
    .search-bar {
      background-color: #fff;
      // box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      margin: 10px 0;
      display: flex;
      max-width: 500px;
      padding: 0 5px;
      border: 1px solid #d6d6d6;
      border-radius: 5px;
    }
    .btn-filter {
      max-height: 35px;
      // box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      margin: auto;
      margin-right: 0;
      color: #fff;
      //   padding: 0;
    }
  }
  .filter {
    margin-bottom: 10px;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 10px;
    p {
      // margin: 0;
      margin: auto 0;
      margin-left: 10px;
      // padding-top: 10px;
    }
    .status-title {
      margin-bottom: 5px;
      font-weight: 500;
    }
    .btn-filter-option {
      margin-left: 10px;
    }
    .btn-close {
      float: right;
    }
    .isChoose {
      border: 1px solid #1976d2;
    }
    .btn-apply-filter {
      float: right;
      margin-right: 10px;
      color: #fff;
    }
    .filter-value-container {
      display: flex;
      padding: 5px 0;
      p {
        padding-right: 10px;
      }
      .selected-title {
        font-weight: 500;
      }
      .filter-value {
        display: flex;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid gray;
        // margin: auto;
        // margin-bottom: 10px;
        p {
          margin: auto;
          padding: 0;
          padding-left: 10px;
        }
      }
    }
  }

  .container-table {
    // margin-top: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    // box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    // .table {
    // }
    //   .cell-img {
    //     padding: 0;
    //     padding-top: 5px;
    //     // display: flex;
    //   }
    //   img {
    //     max-width: 60px;
    //     max-height: 60px;
    //     // margin: auto;
    //   }
    .MuiButton-root {
      padding: 0;
    }
    .table-pagination {
      float: right;
      margin: 15px 0;
    }
  }
  .dialog-container {
    // background-color: aquamarine;
    width: 500px;
  }

  .MuiTableCell-head {
    color: #fff;
  }

  .MuiTableCell-body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .long-text {
    display: block;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
// }
