@import './../../assets/scss/variables';

.service-view {
	* {
		box-sizing: border-box;
	}

	.column-left {
		float: left;
		width: 70%;
	}

	.column-right {
		float: left;
		width: 29%;
		margin-left: 1%;
		border-radius: 3%;
		background-color: $color-background-theme;
	}

	.row:after {
		content: '';
		display: table;
		clear: both;
	}

	.wrapper {
		margin: auto;
		margin-bottom: 2%;
		padding: 1%;
		width: 70%;
		border-radius: 5px;
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
	}

	.carousel-wrapper {
		margin: auto;
		margin-bottom: 2%;
		padding: 0 0 1% 0;
		width: 70%;
		border-radius: 5px;
		background-color: $color-white;
		box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	hr.solid {
		border-top: 3px solid rgb(128, 127, 127);
	}

	.inline {
		display: inline-block;
	}

	.app {
		font-family: None;
		font-size: large;
	}

	.width-full {
		width: 100%;
	}

	.paper {
		padding: 3% 2%;
		margin-top: 1%;
	}

	.user-name {
		margin: 0%;
		text-align: left;
	}

	.msg {
		margin-bottom: 5px;
		margin-top: 3px;
	}

	.margin-top {
		margin-top: 2%;
	}

	.rate-score {
		color: orange;
	}

	.review-number {
		color: blue;
	}

	.iframe {
		width: 100%;
		margin: 1% 0% 1% 0%;
	}

	.sub-service-label {
		margin: 3% 0 0 5%;
	}

	.sub-label {
		padding: 2% 0 2% 3%;
		color: rgb(82, 82, 82);
	}

	.sub-price-label {
		margin: 1.5% 0 0 3%;
	}

	.lack-stock-label {
		display: flex;
		width: 600px;
	}

	.calendar-div {
		margin: 3% 3% 0 5%;
	}

	.calendar {
		background-color: $color-white;
		border-radius: 3px;
	}

	.service-amount {
		margin: 2% 0 0 5%;
		width: 92%;
	}

	.total-price {
		margin: 3% 0 0 5%;
		color: crimson;
		font-size: x-large;
		font-weight: bold;
	}

	.booking-div {
		margin: 3% 3% 3% 5%;
	}

	.carousel {
		width: 100.04%;
		margin-bottom: 2%;
	}

	.slick-prev::before,
	.slick-next::before {
		color: black !important;
	}

	.service-overview {
		margin-bottom: 1%;
		display: flex;
	}

	.margin-bottom-1 {
		margin-bottom: 5px;
	}

	.empty-discuss {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	.margin-right-2 {
		margin-right: 2%;
	}

	.amount {
		display: flex;
		margin: auto;
		min-width: 5.25rem;
		margin-bottom: 10px;
		padding-left: 3%;
		Button {
			display: block;
			width: 30px;
			height: 30px;
			min-width: 30px;
			min-height: 30px;
			background-color: #ececec;
			color: black;
			border-radius: 5px;
		}
		p {
			text-align: center;
			max-width: 30px;
			max-height: 30px;
			min-width: 30px;
			min-height: 30px;
			display: flex;
		}
		.amount-span {
			display: block;
			margin: auto;
		}
	}

	.amount-div {
		background-color: $color-white;
		border-radius: 5px;
		margin-bottom: 10px;
	}

	.rating {
		display: flex;
		width: 550px;
	}

	.rating-btn {
		width: 130px;
		height: 35px;
		margin-right: 1%;
	}

	.view-shop-btn {
		color: $color-main;
		margin-bottom: 10px;
		width: fit-content;
		height: 35px;
	}

	.img-slider {
		width: 1200;
		height: 600px;
		border-radius: 5px;
	}

	.left {
		float: left;
		width: 90%;
		border: blue 1px;
	}

	.right {
		float: right;
		width: 3%;
	}

	.elem1 {
		float: left;
	}

	.elem3 {
		float: left;
	}
}
