@import "./../../../../assets/scss/variables";

.img-select {
  width: 85px;
  height: 85px;
  position: relative;

  &__label {
    width: 100%;
    height: 100%;
    border: 1px dashed $color-main;
    display: inline-block;
    cursor: pointer;
  }

  &__label:hover {
    background-color: rgba($color-main, 0.05);
  }

  &__label-error {
    border: 1px dashed red;
  }

  &__icon-add {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__preview {
    width: 100%;
    height: 100%;
    border: 1px solid $color-main;
    object-fit: contain;
  }

  &__icon-remove {
    position: absolute;
    right: 0;
    transform: translate(7px, -7px);
    border: 1px solid $color-main;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
}
