@import "./../../assets/scss/variables";

#header {
  height: 75px;
  width: 100%;
  font-size: $font-md;
  padding: 1.6rem;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid lightgray;

  .header__logo {
  }

  .search {
    width: 300px;
    position: relative;

    &__textfield {
      width: 100%;
    }

    .search-results {
      $search-item-height: 60px;
      
      z-index: 999999999;

      border-radius: 5px;
      position: absolute;
      right: 0;
      left: 0;
      overflow: hidden;
      margin-top: 40px;
      border: 1px solid rgba(black, 0.4);

      &__list {
        min-height: calc($search-item-height * 3);
        max-height: calc($search-item-height * 5);
        overflow: auto;
        background-color: #fff;
      }

      &__item {
        min-height: $search-item-height;
        padding: 2px 5px;
        z-index: 1;
        transition: background-color 0.07s;
        border-bottom: 1px solid #d6d6d6;

        img {
          min-height: 100%;
          max-width: calc($search-item-height + 10px);
          min-width: calc($search-item-height + 10px);
          margin-right: 10px;
        }

        .info-category {
          font-size: 0.85rem;
        }

        .info-title {
          font-weight: bold;
        }

        .info-city {
          font-style: 0.9rem;
        }

        &:hover {
          background-color: rgb(241, 241, 241);
        }
      }

      &__item-empty {
        font-size: 1.2rem;
        text-align: center;
        margin-top: calc($search-item-height * 1.5);
        transform: translateY(-50%);
      }
    }
  }

  .right {
    .cart-icon {
      margin-top: 2px;
      margin-right: 20px;
    }

    .avatar {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
