.purchase {
  background-color: #f5f5f5;
  position: relative;
}
.purchase-container {
  margin: auto;
  padding-bottom: 2rem;
  p {
    margin: 0;
  }
  h2 {
    padding: 1rem 0;
  }
  .purchase-content {
    h2 {
      color: #767676;
      padding-top: 1rem;
    }
    .user-info {
      background-color: #fff;
      padding: 0.25% 1% 1%;
      box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      .field {
        display: flex;
        margin: 2%;
        justify-content: space-between;
        .label {
          color: black;
        }
        .textfield {
          width: 32rem;
          input {
            height: 0.5rem;
          }
        }
        .required {
          color: red;
        }
      }
    }
    .order-info {
      background-color: #fff;
      padding: 0.25% 1% 2%;
      box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      .header-table {
        display: flex;
        border-bottom: 1px solid #d6d6d6;
        p {
          display: block;
          margin: auto;
          margin-left: 0;
          width: 6rem;
          text-align: center;
          padding-bottom: 5px;
        }
        #p-product {
          padding-left: 5rem;
          width: 31rem;
        }
      }
      .align-center {
        text-align: center;
        margin-top: 10px;
      }
    }
    .payment-method {
      background-color: #fff;
      padding: 0.25% 1% 2%;
      box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      border-bottom: 1px solid #d6d6d6;
      .radio-group {
        display: flex;
        margin: 0 2%;
        gap: 20%;
      }
      .label-radio {
        display: flex;
        p {
          margin: auto 1rem;
        }
      }
      img {
        max-width: 40px;
        max-height: 40px;
        margin: auto;
      }
      .momo {
        content: url("../../assets/images/momo.png");
      }
      .paypal {
        content: url("../../assets/images/paypal.jpg");
      }
    }
    .checkout {
      background-color: #fff;
      box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      padding: 1%;
      display: flex;
      justify-content: flex-end;
      bottom: 0;
      position: sticky;
      .checkout-content {
        p {
          display: inline-block;
          margin: auto;
          margin-right: 3em;
        }
      }
    }
  }
}
