.search-bar {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  width: 600px;
  height: 50px;
  border: 1px solid #d6d6d6;

  input[type="text"] {
    flex-grow: 1;
    padding-left: 0.625em;
    background-color: transparent;
    border: 0;
    font-size: 16px;
  }

  input[type="text"]:focus {
    outline: none;
  }

  .search-bar__button {
    display: inherit;
    width: 40px;
    height: 35px;
    margin: auto .5em;
    background-color: #479fe7;
    border-radius: 7px;
    cursor: pointer;
  }
}
