.service-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 16px;
  background-color: #fff;

  &:hover {
    transition: all 0.4s ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 10px;
    top: -4px;
  }
 
  .card-image {
    display: block;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .card-content {
    padding: 0.8em;
    flex: 1;

    &__title {
      flex: 1;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-all;
    }

    &__info {
      margin-top: 0.9em;

      .rating {
        align-items: flex-end;
        margin-bottom: 0.5em;

        &-score {
          flex-grow: 1;
        }
      }

      .price {
        margin-top: auto;
        color: #479fe7;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}


