@import "./../../../assets/scss/variables";

.shop-page {
  min-height: 100vh;
  position: relative;

  &__info {
    border: 1px solid #000;
    min-height: 7.5em;
    margin: 65px 0 35px;
    padding: 0.75em 2.5em;
    background-color: $color-white;

    .shop-info__section-left {
      $shop-avatar-size: 160px;
      display: inline-block;
      min-width: $shop-avatar-size;
      position: relative;

      .shop-info__avatar {
        width: $shop-avatar-size;
        height: $shop-avatar-size;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-40%);
      }

      .shop-info__name {
        margin-top: calc($shop-avatar-size/3 * 2);
        text-align: center;
        font-size: 1.4em;
      }
    }

    .shop-info__section-right {
      margin: 1em 0 0 2.5em;

      .shop-info__description {
        font-size: 1.1em;
        margin-bottom: 10px;
        flex-grow: 1;
      }
    }

    .shop-info__item {
      color: #333333;
      margin-bottom: 5px;
    }

    .shop-info__value {
      color: $color-main;
    }
  }

  &__service-list {
    .service-list__title {
      font-size: 1.4em;
      font-weight: 700;
      margin-bottom: 1em;
    }

    .service-list__empty {
      text-align: center;
      font-size: 1.4em;
      font-weight: 400;
      color: $color-main;
    }
  }
}
