// @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");

// $font-size-p: 15px;
// $font-weight-p: 400;
// $font-size-b: 18px;
// $font-weight-b: 600;
.footer-container {
  padding-bottom: 4rem;
  background-color: #333333;
  padding: 0;
  color: #ffffff;
  max-height: 220px;
  clear: both;
  position: relative;
  // height: 200px;
  // margin-top: -220px;
  // font-family: "Be Vietnam Pro", sans-serif;
}
.footer-top {
  display: flex;
  margin: auto;
  padding: 2rem 0;
  // width: 90%;
  height: auto;
  // background-color: #333333;
  // p,
  // a {
  //   font-size: $font-size-p;
  //   font-weight: $font-weight-p;
  // }
  // b {
  //   font-size: $font-size-b;
  //   font-weight: $font-weight-b;
  // }
  .div-email {
    display: block;
    width: 40%;
    p {
      margin-bottom: 10px;
    }
  }
  #div-link {
    display: block;
    width: 58%;
    margin-left: 2rem;
  }
  .div-block {
    display: inline-block;
    width: 30%;
    margin-left: 2%;
    vertical-align: top;
    a {
      display: block;
      color: #c4c4c4;
      text-decoration: none;
      margin-bottom: 0.5rem;
    }
    a:hover {
      color: #ffffff;
      font-weight: 500;
    }
  }
  // input[type="text"] {
  //   width: 75%;
  //   height: 36px;
  //   // padding-right: 50px;
  //   padding-left: 10px;
  // }
  // input:focus {
  //   outline: none;
  // }

  // input[type="submit"] {
  //   margin-left: 0px;
  //   height: 36px;
  //   width: 20%;
  //   background: #479fe7;
  //   color: #ffffff;
  //   border: 0;
  //   -webkit-appearance: none;
  // }
  // input[type="submit"]:hover {
  //   opacity: 0.8;
  // }
}
.footer-bottom {
  #p-copyright {
    text-align: center;
    font-size: 13px;
    color: #c4c4c4;
  }
}
