.cart {
  background-color: #f5f5f5;
  position: relative;
  min-height: 60vh;
}
.cart-container {
  // width: 90%;
  margin: auto;
  padding-bottom: 2rem;
  // .title {
  //   display: flex;
  //   justify-content: space-between;
  //   .red {
  //     margin: auto 0;
  //     color: red;
  //   }
  // }
  p {
    margin: 0;
  }
  h2 {
    padding: 1rem 0;
  }
  .header-table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    p {
      display: block;
      margin: auto;
      width: 11%;
      text-align: center;
    }
    #p-product {
      width: 40%;
      margin-left: 0;
    }
    #p-start-date {
      width: 15%;
    }
  }
  .items {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    h3 {
      text-align: center;
      padding: 1em 0;
      font-weight: 400;
    }
  }
  // .shop {
  //   background-color: #fff;
  //   Checkbox {
  //     display: inline-block;
  //   }
  //   p {
  //     display: inline-block;
  //   }
  // }
  .out-of-date {
    .top {
      display: flex;
      justify-content: space-between;
    }
  }
  .cart-bottom {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    bottom: 0;
    position: sticky;
    padding: 3px 0;
    .total {
      display: flex;
      justify-content: space-between;
      .checkout {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        p {
          display: inline-block;
          margin: auto;
          margin-right: 3em;
        }
      }
    }
  }
}
