.cart-item {
  display: flex;
  width: 100%;
  padding: 2% 0;
  border-bottom: 1px solid #d6d6d6;
  .img-title {
    display: flex;
    margin: auto;
  }
  .img-container {
    display: flex;
    margin: auto;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    img {
      // display: block;
      margin: auto;
      max-width: 5rem;
      max-height: 5rem;
    }
    // }
  }
  .title {
    display: block;
    margin: auto;
    margin-left: 2rem;
    line-height: 1.5;
    width: 20.5rem;
    // margin: 0 3em;
  }
  .start-date {
    display: block;
    margin: auto;
    width: 10rem;
    .MuiOutlinedInput-root {
      max-width: 11rem;
    }
    // #date {
    //   max-width: 10rem;
    // }
  }
  .price,
  .total-price,
  .act {
    display: block;
    margin: auto;
    // margin-left: 3em;
    width: 8.5rem;
    text-align: center;
  }
  .act {
    width: 6.75rem;
  }
  .amount {
    display: flex;
    margin: auto;
    min-width: 5.25rem;
    // border: 1px solid black;
    // border-radius: 15px;
    // margin-left: 3em;
    Button {
      display: block;
      margin: auto;
      max-width: 30px;
      max-height: 30px;
      min-width: 30px;
      min-height: 30px;
      background-color: #ffffff;
      color: black;
      border: 2px solid #d6d6d6;
      border-radius: 0px;
      justify-content: space-between;
    }
    p {
      text-align: center;
      max-width: 30px;
      max-height: 30px;
      min-width: 30px;
      min-height: 30px;
      border-top: 2px solid #d6d6d6;
      border-bottom: 2px solid #d6d6d6;
      display: flex;
    }
    .amount-span {
      display: block;
      margin: auto;

      // padding-top: 4px;
      //   margin: -3px 0px 0px;
      //   padding: 0px 10px 2px 10px;
    }
  }
}
