.view-user-detail {
  h2 {
    padding: 16px 0;
  }
  .wrap {
    display: flex;
    background-color: #fff;
    box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
    // margin-bottom: 2rem;
    .container {
      margin: auto;
      // display: flex;
      padding: 2rem 3rem;
      .content {
        // padding-left: 5rem;
        .div-top {
          // width: 10rem;
          display: flex;
          margin-bottom: 2rem;
          // text-align: center;
          // .img-id-name {
          //   margin: auto;
          // align-items: center;
          img {
            float: left;
            min-width: 10rem;
            min-height: 10rem;
            max-width: 10rem;
            max-height: 10rem;
            border-radius: 50%;
            margin-right: 5rem;
          }
          .div-right {
            float: right;
            margin-top: 4rem;
          }
          // }
        }
        .label-textfield {
          display: flex;
          padding-right: 5em;
          margin-bottom: 2rem;
          width: 457px;
          .label {
            min-width: 8em;
            // margin: auto;
            font-weight: 700;
          }
          // .textfield {
          //   width: 25em;
          //   input {
          //     height: 0.5rem;
          //   }
          // }
        }
        .div-body {
          display: flex;
          .div-left {
            float: left;
            margin-right: 3rem;
          }
          .div-right {
            float: right;
          }
        }
        button {
          float: right;
          margin-top: 1rem;
        }
      }
    }
  }
}
