@import "./../../../assets/scss/variables";
// .side-bar-mod {
// z-index: 1;
.nav-bar {
  // display: block;
  top: 75px;
  left: 0;
  position: sticky;
  height: 90vh;
  max-width: 15em;
  min-width: 15em;
  background-color: #fff;
  // float: left;
  // .close-icon {
  //   float: right;
  // }
  //  .avatar-name {
  //     display: flex;
  //     border-bottom: 1px solid lightgray;
  //     // margin-top: 10px;
  //     padding: 25px 0;
  //     .avatar {
  //       min-width: 50px;
  //       min-height: 50px;
  //       max-width: 50px;
  //       max-height: 50px;
  //       border-radius: 50%;
  //       border: 1px solid $color-main;
  //       margin: 0 10px;
  //     }
  //     p {
  //       margin: auto;
  //     }
  //   }
  .menu {
    margin-top: 20px;
    a {
      color: $color-main;
    }
    .menu-item {
      display: flex;
      padding: 15px 5px;
      .MuiSvgIcon-root {
        display: block;
        background-color: $color-main;
        color: #fff;
        margin: auto 5px;
        min-width: 35px;
        min-height: 35px;
        max-width: 35px;
        max-height: 35px;
        padding: 5px;
        // border: 1px solid #000;
        border-radius: 50%;
      }
      // p {
      //   display: block;
      //   margin: auto 5px;
      //   color: #1b5780;
      // }
      a {
        margin: auto 10px;
      }
    }
    .active {
      // background-color: $color-main;
      // color: $color-main;
      a {
        font-weight: 900;
        // color: #fff;
      }
      // .MuiSvgIcon-root {
      //   background-color: #fff;
      //   color: $color-main;
      // }
    }
    .link {
      display: flex;
      // margin: auto;
      a {
        margin: auto 15px;
      }
    }
  }
}
// .nav-bar-small {
//   max-width: 2em;
//   background-color: #fff;
//   float: left;
//   top: 75px;
//   left: 0;
//   position: sticky;

//   height: 10px;
//   // .icon {
//   //   position: sticky;
//   //   top: 0;
//   // }
//   .nav-content {
//     display: none;
//     visibility: hidden;
//   }
// }
// }
