.purchase-item {
  display: flex;
  width: 100%;
  padding: 1% 0;
  border-bottom: 1px solid #d6d6d6;
  .img-title {
    display: flex;
    margin: auto;
  }
  .img-container {
    display: flex;
    margin: auto;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    img {
      max-width: 5rem;
      max-height: 5rem;
      margin: auto;
    }
  }
  .title {
    display: block;
    margin: auto;
    margin-left: 2rem;
    line-height: 1.5;
    width: 25rem;
  }
  .start-date {
    display: block;
    margin: auto;
  }
  .price,
  .total-price {
    display: block;
    margin: auto;
    width: 9.5rem;
    text-align: center;
  }
  .amount {
    display: flex;
    margin: auto;
    min-width: 5.25rem;
    p {
      display: block;
      margin: auto;
    }
  }
}
