@import "./../../../assets/scss/variables";


.shop-service-list {
  min-height: 100vh;

  .title {
      margin: 15px 0;
      font-size: $font-xl;
      font-weight: 600;
  }
  .tool {
    margin-bottom: 20px;
  }

  .btn-add {
    margin-top: auto;
    width: 50px;
    height: 35px;
  }

  @import './components/search-bar';
  @import './components/shop-service-table';

}
