@import "./../../../assets/scss/variables";

.seller-sidebar {
  min-width: 15em;
  background-color: #fff;
  float: left;

  .close-icon {
    float: right;
    cursor: pointer;
  }

  .user {
    display: flex;

    &__avatar {
      object-fit: contain;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 10px;
    }

    &__name {
      margin: auto 5px auto;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .menu {
    padding: 0 10px;
    a {
      color: #1976d2;
    }
    .menu-item {
      margin-top: 15px;
      .menu-title {
        display: flex;
        font-weight: normal;
        font-size: 1.1em;

        p {
          display: block;
          margin: auto 6px;
        }

        .menu-icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }

    .link {
      a {
        width: 100%;
      }
      display: flex;
      margin: 5px 0;
      padding: 10px 10px 10px 40px;
    }

    .link:hover {
      background-color: rgba($color-grey, 0.1);
    }
  }
}

.seller-sidebar-small {
  max-width: 2em;
  background-color: #fff;
  float: left;

  .open-icon {
    cursor: pointer;
  }
  .nav-content {
    display: none;
    visibility: hidden;
  }
}

.seller-sidebar,
.seller-sidebar-small {
  $header-height: 75px;

  height: calc(100vh - $header-height);
  position: -webkit-sticky;
  position: sticky;
  top: $header-height;
}
