@import "./../../../assets/scss/variables";

.new-service {
  min-height: 100vh;
  width: 100%;
  position: relative;

  .basic-input,
  .advance-input,
  .action-section {
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid rgba($color-grey, 0.5);
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-title {
    margin: 15px 0;
    font-size: $font-xl;
    font-weight: 600;
  }

  .input-label {
    font-weight: 600;
    color: black;
    margin: 0 0 15px;
  }

  .input-label__required::after {
    content: "*";
    margin-left: 5px;
    color: red;
  }

  .name-input {
    margin-right: 40px;
    min-width: 420px;
  }

  .location-input {
    flex-wrap: wrap;

    .address-input {
      flex-grow: 1;
    }

    .city-input {
    }
  }

  .duration-input {
    max-width: 250px;
  }

  .date-input {
    .helperText {
      color: $color-grey;
      margin-bottom: 20px;
    }

    .to-label {
      display: inline-block;
      text-align: center;
      width: 200px;
      height: 100%;
      -ms-transform: translateY(100%);
      transform: translateY(100%);
    }
  }

  .image-uploader-section {
    .image-uploaders {
      flex-wrap: wrap;
    }

    @import "./components/_image-uploader";

    .image-uploader {
      margin-bottom: 20px;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &__label {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .advance-input {
    $max-width: 775px;

    .sub-service__title-input {
      max-width: $max-width;
      margin-bottom: 15px;
    }

    .sub-services__input {
      .btn-add {
        width: 100%;
        max-width: $max-width;
        margin-bottom: 15px;
        border: 1px dashed $color-main;
      }
    }

    .sub-service__accordion {
      border: 1px solid rgba($color-grey, 0.4);
      margin-bottom: 5px;
    }

    .sub-service__accordion-error {
      border: 1px solid red;
      border-radius: 4px;
      margin-bottom: 5px;
    }
  }

  .action-section {
    &__btn-cancel {
      margin-right: 50px;
    }

    &__btn-cancel,
    &__btn-save {
      min-width: 150px;
    }
  }

  .name-input,
  .category-input,
  .address-input,
  .city-input,
  .duration-input,
  .date-input,
  .image-uploader-section,
  .description-input,
  .sub-services__input {
    margin-bottom: 40px;
    margin-right: 40px;
  }

  .name-input,
  .address-input,
  .image-uploader-section,
  .description-input,
  .sub-service__title-input {
    min-width: 340px;
  }
}
