@import "./../../assets/scss/variables";

.notification {
  min-height: 90px;
  border-bottom: 1px solid #d6d6d6;
  width: calc(100% - 10px);
  padding: 10px 10px 5px 10px;

  &__content {
    flex-grow: 1;
  }

  &__title {
    font-weight: bold;
  }

  &__message {
    margin-top: 5px;
  }

  &__created-at {
    font-size: 0.75em;
    margin-top: 5px;
  }

  &-seen {
    opacity: 0.75;
  }

  &-unseen {
    position: relative;
  }

  &-unseen:after {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $color-main;
    position: absolute;
    right: 0;
    bottom: 50%;
    margin-right: 5px;
  }
}

.notification:hover {
  background-color: #d6d6d6;
}
