@import "./../../assets/scss/variables";

.notification-list {
  position: relative;

  &__icon {
    margin-right: 20px;
    cursor: pointer;
  }

  &__popup {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    padding: 10px 0 0 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #d6d6d6;
    border-right: none;
    min-width: 475px;
    height: 450px;
    overflow-y: scroll;
    // translate: translateX(-100%);

    .title {
      font-weight: 600;
      font-size: 1.4em;
      margin-left: 10px;
    }

    .notification-list__empty {
      margin-top: 20px;

      .message {
        font-weight: bold;
        margin-top: 20px;
      }
    }
  }
}
