@import "./../../assets/scss/variables";

.service-appraisal-list {
  .div-title {
    display: flex;
    justify-content: space-between;
    .shop-name {
      border: 1px solid hsl(0, 0%, 84%);
      border-radius: 10px;
      padding-left: 5px;
      background-color: #fff;
    }
  }
  padding-top: 35px;
  .search-filter {
    display: flex;
    .search-bar {
      background-color: #fff;
      // box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      margin: 10px 0;
      display: flex;
      max-width: 500px;
      padding: 0 5px;
      border: 1px solid #d6d6d6;
      border-radius: 5px;
    }
    .btn-filter {
      max-height: 35px;
      // box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
      margin: auto;
      margin-right: 0;
      color: #fff;
      //   padding: 0;
    }
  }
  .filter-box {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
    .filter-container {
      display: flex;
      justify-content: space-between;
      .filter-left {
        width: 90%;
        p {
          // margin: 0;
          margin: auto 0;
          // margin-left: 10px;
          // padding-top: 10px;
        }
        .filter-options {
          .status-title {
            margin-top: 10px;
            font-weight: 500;
          }
          .btn-filter-option {
            margin-right: 10px;
            margin-top: 10px;
          }
          .btn-close {
            float: right;
          }
          .isChoose {
            border: 1px solid #1976d2;
          }
        }
        .filter-value-container {
          display: flex;
          padding: 5px 0;
          p {
            padding-right: 10px;
          }
          .selected-title {
            font-weight: 500;
          }
          .filter-value {
            display: flex;
            margin-right: 10px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid gray;
            // margin: auto;
            // margin-bottom: 10px;
            p {
              margin: auto;
              padding: 0;
              padding-left: 10px;
            }
          }
        }
      }
      .filter-right {
        float: right;
        text-align: right;
        position: relative;
        .btn-apply-filter {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #fff;
        }
      }
    }
  }

  .container-table {
    // margin-top: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    // box-shadow: 0 -3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    // .table {
    // }
    .cell-img {
      padding: 0;
      padding-top: 5px;
      // display: flex;
    }
    img {
      max-width: 60px;
      max-height: 60px;
      // margin: auto;
    }

    .MuiButton-root {
      padding: 0;
    }
    .table-pagination {
      float: right;
      margin: 15px 0;
    }
    .btn-act {
      padding: 0;
    }
  }
  .dialog-container {
    // background-color: aquamarine;
    width: 500px;
  }

  .MuiTableCell-head {
    color: #fff;
  }
  .MuiTableCell-body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .long-text {
    display: block;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
// }
