.result-page {
  &__title {
    margin-top: 0.75em;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
  }
  &__sub-title {
    font-size: 1.75em;
    font-weight: 400;
    margin-top: 10px;
  }

  &__search-section {
    min-height: 100vh;
    margin-bottom: 50px;
  }

  .section-left {
    @extend %section-shared;
    margin-right: 1em;
    padding: 0.5em 0;
    min-width: 260px;

    .category-filter {
      &__title {
        padding: 0.5em 1em;
        font-size: 1.1em;
        font-weight: 600;
      }
    }

    .category-checkbox {
      padding: 0 0.85em;
    }

    .category-checkbox:hover {
      background-color: #f5f5fa;
      cursor: pointer;
    }
  }

  .section-right {
    flex-grow: 1;
    $top-height: 80px;

    &__top {
      @extend %section-shared;
      min-height: $top-height;
      padding: 5px 15px;
      @import "./components/search-bar";
    }

    &__result-section {
      @extend %section-shared;
      margin-top: 20px;
      padding: 15px;
      min-height: calc(100% - $top-height - 20px);

      .empty {
        height: 100px;
        text-align: center;
        padding: 50px 0;
      }

      .result-list {
        min-height: 600px;
      }

      .pagination-filter {
        min-width: 250px;
        justify-content: flex-end;
        margin-top: 20px;
      }
    }
  }
}

%section-shared {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 7px;
}
