// @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");

// $font-size-p: 16px;
// $font-weight-p: 400;
// $font-size-b: 21px;
// $font-weight-b: 600;
.about {
  text-align: center;
  // font-family: "Be Vietnam Pro", sans-serif;
  .headimg {
    width: 100%;
  }
  // p {
  //   font-size: $font-size-p;
  //   font-weight: $font-weight-p;
  // }

  // b {
  //   font-size: $font-size-b;
  //   font-weight: $font-weight-b;
  // }
  .highlight {
    height: 250px;
    background-color: rgb(231, 240, 252);
  }
  .div-block {
    // padding: 10px 0;
    line-height: 200px;
    height: 200px;
    p {
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
      max-width: 65%;
    }
    .bold-text {
      margin-top: 0;
      margin-bottom: 8px;
      max-width: 100%;
    }
    h2 {
      margin: 0 0 20px 0 !important;
      color: #479fe7;
    }
  }
  .iframe {
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    // margin: auto;
    .div-iframe {
      // display: inline-block;
      // float: right;
      iframe {
        padding: 1px;
        max-height: 300px;
        max-width: 600px;
      }
    }
    .div-block {
      line-height: 300px;
      height: 300px;
    }
  }
}
